<div class="jumbotron">
  <h1>About us</h1>
  <div class="row">
    <div class="col-xs-6">
      <h2>stuff</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
    <div class="col-xs-6">
      <h2>more stuff</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  </div>

</div>

<div class="row text-center" >
  <h1>content</h1>
  <div class="col-xs-3">
    <img width="100%" class="img-circle" src="http://i.imgur.com/I1mdz61.png">
    <h2>Nick</h2>
    <p>Nicolas Kim Coppola (born January 7, 1964),[1][2][3][4] known professionally as Nicolas Cage, is an American actor and filmmaker. He has performed in leading roles in a variety of films, ranging from romantic comedies and dramas to science fiction and action films. Cage is known for his prolificacy, appearing in at least one film per year nearly every year since 1980, with the exception of 1985 and 1991.</p>
  </div>
  <div class="col-xs-3">
    <img width="100%" class="img-circle" src="http://i.imgur.com/Yg527xC.png">
    <h2>NCage</h2>
    <p>Cage received an Academy Award, a Golden Globe, and Screen Actors Guild Award for his performance as an alcoholic Hollywood writer in Leaving Las Vegas (1995) before coming to the attention of wider audiences with mainstream films such as The Rock (1996), Face/Off (1997), Con Air (1997), City of Angels (1998), and National Treasure (2004). He earned his second Academy Award nomination for his performance as Charlie and Donald Kaufman in Adaptation (2002). In 2002, he directed the film Sonny, for which he was nominated for Grand Special Prize at Deauville Film Festival. Cage owns the production company Saturn Films and has produced films such as Shadow of the Vampire (2000) and The Life of David Gale (2003).</p>
  </div>
  <div class="col-xs-3">
    <img width="100%" class="img-circle"  src="http://i.imgur.com/RL7dLYa.jpg">
    <h2>OTG</h2>
    <p>Cage's acting has been praised by influential film critic Roger Ebert, who wrote in his "Great Movies" essay, about the film Adaptation, that: "There are often lists of the great living male movie stars: De Niro, Nicholson and Pacino, usually. How often do you see the name of Nicolas Cage? He should always be up there. He's daring and fearless in his choice of roles, and unafraid to crawl out on a limb, saw it off and remain suspended in air. No one else can project inner trembling so effectively... he always seems so earnest. However improbable his character, he never winks at the audience. He is committed to the character with every atom and plays him as if he were him."[55] In response to mixed reviews of Knowing and their focus on criticizing Cage, Ebert defended both Cage as an actor and the film which (in contrast to other critics) he gave four out of four stars.[56]</p>
  </div>
  <div class="col-xs-3">
    <img width="100%" class="img-circle" src="http://i.imgur.com/LpI9lmW.jpg">
    <h2>Cage Nick</h2>
    <p>Since his minor role in the film Fast Times at Ridgemont High, with Sean Penn, Cage has appeared in a wide range of films, both mainstream and offbeat.[16] He auditioned for the role of Dallas Winston in his uncle's film The Outsiders, based on S.E. Hinton's novel, but lost to Matt Dillon.[17] He was also in Coppola's films Rumble Fish[18] and Peggy Sue Got Married.[19]</p>
  </div>
</div>