<h1>Sign In</h1>


<form action="<%= session_url %>" method="post" role="form" class="form-horizontal">
  <input
  name="authenticity_token"
  type="hidden"
  value="<%= form_authenticity_token %>">
<div class="row">
  <div class="form-group col-xs-6">
    <div class="col-xs-offset-1">
    <label for="user_username">Username</label>
    <input
    id="user_username"
    name="user[username]"
    type="text"
    placeholder="Username here"
    class="form-control">
  </div>
  </div>

  <div class="form-group col-xs-6">
        <div class="col-xs-offset-1" >

    <label for="user_password">Password</label>
    <input
      id="user_password"
      name="user[password]"
      type="password"
      placeholder="Passwords are good"
      class="form-control">
  </div>
  </div>
</div>
<button class="btn btn-primary">Log in</button>

</form>
